html {
	box-sizing: border-box;
	font-size: calc(0.8em + 1vw);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
p {
	font-family: Lato;
}

:root {
	--clr-link: hsl(120, 85%, 63%);
	--clr-header: hsl(210, 85%, 63%);
	--shadow-normal: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
	--shadow-active: 4px 4px 10px 5px rgba(0, 0, 0, 0.4);
}

.box {
	--bgcolor: #cba;
}

.border {
	border: 3px solid peru;
}

.box {
	background-color: var(--clr-header);
	padding: 0.5em;
	margin: auto;
	box-sizing: border-box;
	white-space: normal;
	overflow: auto;
	text-overflow: ellipsis;
	filter: saturate(80%);
	box-shadow: var(--shadow-normal);
}

.route-link {
	display: flex;
	background-color: var(--clr-link);
	color: black;
	padding: 0.2em 0.4em;
	margin: 0.2em;
	box-sizing: border-box;
	white-space: normal;
	text-overflow: ellipsis;
	text-decoration: none;
	filter: saturate(20%);
	box-shadow: var(--shadow-normal);
	overflow: hidden;
	justify-content: center;
	align-items: center;
	border-radius: 0.7em;
}

.route-link.active {
	filter: saturate(100%);
	box-shadow: var(--shadow-active);
}

div.box:active {
	filter: saturate(100%) brightness(120%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

button.box {
	filter: brightness(150%);
	display: inline-block;
	padding: 10px;
	margin: auto;
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
}

div.clear {
	clear: both;
}

.box:hover {
	filter: saturate(100%) brightness(110%);
}

.box-nav {
	float: left;
	height: 40px;
	border: 0px solid peru;
	padding: 10px;
	margin: auto;
	box-sizing: border-box;
}

.box-nav:hover {
	filter: saturate(100%) brightness(110%);
}

.center {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}

.content {
	position: absolute;
	width: 100%;
	height: 100px;
	margin: auto;
}

.fade-in {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.1s;
	overflow: clip;
}

.fade-out {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
	overflow: clip;
}

.data-content {
	float: left;
	width: 23%;
	margin: 1%;
	background-color: dodgerblue;
}

div.float {
	float: left;
}

.app__container {
	min-width: 20em;
	width: 100%;
	min-height: 100vh;
}

.app__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--clr-header);
	padding: 0.1em;
	box-shadow: var(--shadow-normal);
	margin-bottom: 0.4em;
	height: 3em;
	width: 100%;
}

.app__main {
	width: 80vw;
	max-width: 30em;
	margin: auto;
	min-height: calc(100vh - 6.4em);
	box-shadow: var(--shadow-normal);
	padding: 0.5em 0.5em;
	border-radius: 0.2em;
}

.app__header__nav {
	display: flex;
	flex-direction: row;
}

.app__password-list {
	width: 80%;
	text-align: center;
	box-shadow: var(--shadow-normal);
	margin: 1em auto;
	font-family: Consolas, Monaco, 'Lucida Console', 'Liberation Mono',
		'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
	border-radius: 0.2em;
	padding: 0.5rem;
}

.app__password-list__item {
	margin-bottom: 0.5em;
	/* outline: 1px solid gray; */
	background-color: lightgrey;
	padding: 0.1em;
	border-radius: 0.2em;
}
